<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.commons.fileupload" slot="main">

  <resources>
    <resource-root path="commons-fileupload-${version.commons-fileupload}.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api" slot="main" services="import"/>
    <module name="javax.servlet.api" slot="main" services="import"/>
    <module name="org.apache.commons.io" slot="main" services="import"/>
  </dependencies>
</module>
