<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:s="urn:java:ee"
       xmlns:t="urn:java:org.jboss.seam.transaction"
       xmlns:m="urn:java:org.jbpm.kie.services.impl.util"
        xmlns:weld="http://jboss.org/schema/weld/beans"
       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://docs.jboss.org/cdi/beans_1_0.xsd
                            http://jboss.org/schema/weld/beans http://jboss.org/schema/weld/beans_1_1.xsd">
    
    <alternatives>
        <class>org.jbpm.services.task.identity.MvelUserGroupCallbackImpl</class>
    </alternatives> 
</beans>