<?xml version="1.0" encoding="UTF-8"?>

<jboss-deployment-structure xmlns="urn:jboss:deployment-structure:1.2">
<deployment>
  <dependencies>  
    #foreach($dependency in $sorter.sort($dependencies))
    <module name="$dependency.name" #if ($dependency.slot) slot="$dependency.slot" #end export="false" services="$dependency.services" meta-inf="$dependency.metaInf"/>
    #end
  </dependencies>
</deployment>
</jboss-deployment-structure>

