#set( $D = '$' )
<?xml version="1.0" encoding="UTF-8"?>
<jboss umlns="urn:jboss:1.0">
    <jboss-deployment-dependencies xmlns="urn:jboss:deployment-dependencies:1.0">
        <dependency name="${D}{$name}" />
    </jboss-deployment-dependencies>
</jboss>