/target
/local
*.tlog

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# These modules do not exist on the 6.2.x branch
/drools-android-parent/
/jbpm-process-svg/
/kie-performance-kit/
