#logDetailWizard .table-view-pf-actions:last-child {
  width: 100% !important;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}

#pim-content {
  margin-right: 20px;
  margin-left: 20px;
}