<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.eclipse.emf" slot="main">

  <resources>
    <resource-root path="org.eclipse.emf.common-${version.org.eclipse.emf}.jar"/>
    <resource-root path="org.eclipse.emf.ecore.xmi-${version.org.eclipse.emf.ecore.xmi}.jar"/>
    <resource-root path="org.eclipse.emf.ecore-${version.org.eclipse.emf}.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api" slot="main" services="import"/>
  </dependencies>
</module>
