<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:drools="http://drools.org/schema/drools-spring"
       xmlns:drools-service="http://drools.org/schema/drools-service-spring"       
       xmlns:camel="http://camel.apache.org/schema/spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://drools.org/schema/drools-spring http://drools.org/schema/drools-spring.xsd
                           http://drools.org/schema/drools-service-spring http://drools.org/schema/drools-service-spring.xsd
                           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


<camelContext id="executionContext" xmlns="http://camel.apache.org/schema/spring" />

<bean id="sm1" class="org.drools.vsm.local.ServiceManagerLocalClient" />

<drools:resource id="resource1" type="DRL" source="classpath:org/drools/container/spring/testSpring.drl"/>

<drools:kbase id="kbase1" serviceManager="sm1">
	<drools:resource source="classpath:org/drools/container/spring/IntegrationExampleTest.xls" type="DTABLE">
		<drools:decisiontable-conf input-type="XLS" worksheet-name="Tables_2" />
	</drools:resource>
	<drools:resource-ref id="resource1"/>
	<drools:model source="classpath:org/drools/container/spring/model.xsd" />
</drools:kbase>

<drools:ksession id="ksession1" type="stateless" name="stateless1" kbase="kbase1" serviceManager="sm1"/>

<drools:ksession id="ksession2" type="stateful" kbase="kbase1" serviceManager="sm1"/>

<drools-service:configuration id="service-conf-1" marshaller="XSTREAM" session="ksession1">
	<drools-service:class>org.drools.model.Person</drools-service:class>
</drools-service:configuration>

<drools-service:definition id="service" smId="sm1" camelContext="executionContext">
	<drools-service:configuration marshaller="JAXB" session="ksession2" />
	<drools-service:configuration-ref id="service-conf-1" />
</drools-service:definition>

</beans>