bin/
target/
local/

# Eclipse, Netbeans and IntelliJ files
.*
!.gitignore
nbproject/
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# the modules have been renamed
/kie-services-jaxb
/kie-services-client
/kie-services-remote
