bin/
target/
local/

# Eclipse, Netbeans and IntelliJ files
.*
!.gitignore
nbproject/
*.ipr
*.iws
*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# Kie webservices doesn't exist in 6.0.x
/kie-remote-ws
