<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.kie.server.services.KieServerApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/services/rest/*</url-pattern>
    <url-pattern>/services/api-docs/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/services/rest</param-value>
  </context-param>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>All web resources</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>kie-server</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>KIE Server</realm-name>
  </login-config>
  <security-role>
    <role-name>kie-server</role-name>
  </security-role>

  <context-param>
    <param-name>resteasy.resources</param-name>
    <param-value>com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON</param-value>
  </context-param>

  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>
      com.wordnik.swagger.jaxrs.json.JacksonJsonProvider,
      com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider,
      com.wordnik.swagger.jaxrs.listing.ResourceListingProvider
    </param-value>
  </context-param>

  <servlet>
    <servlet-name>KieSwaggerJaxrsConfig</servlet-name>
    <servlet-class>org.kie.server.services.rest.swagger.KieSwaggerJaxrsConfig</servlet-class>
    <init-param>
      <param-name>api.version</param-name>
      <param-value>2.0.0</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.basepath</param-name>
      <param-value>/services/rest</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.packages</param-name>
      <param-value>org.kie.server.services.api</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

</web-app>
