<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.thoughtworks.xstream" slot="main">

  <resources>
    <resource-root path="xstream-${version.com.thoughtworks.xstream}.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api" slot="main" services="import"/>
    <module name="sun.jdk" slot="main" services="import"/>
    <module name="xmlpull" slot="main" services="import"/>
    <module name="xpp3" slot="main" services="import"/>
  </dependencies>
</module>
