<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p {%t} %c - %m%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
