.progress-background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0.8;
}

.progress-active{
    width: 20%;
    position: absolute;
    top: 200px;
    left: 40%;
    z-index: 1;
    text-align: center;
}

.progress-active > div{
}

#progress {
/*display: block;*/
    display: none;
}
