<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.maven" slot="main">

  <resources>
    <resource-root path="maven-aether-provider-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-artifact-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-builder-support-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-compat-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-core-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-model-builder-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-model-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-plugin-api-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-repository-metadata-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-settings-builder-${version.org.apache.maven}.jar"/>
    <resource-root path="maven-settings-${version.org.apache.maven}.jar"/>
  </resources>

  <dependencies>
    <module name="com.google.guava" slot="main" services="import"/>
    <module name="javax.api" slot="main" services="import"/>
    <module name="javax.inject.api" slot="main" services="import"/>
    <module name="org.apache.commons.lang3" slot="main" services="import"/>
    <module name="org.apache.maven.wagon" slot="main" services="import"/>
    <module name="org.codehaus.plexus" slot="main" services="import"/>
    <module name="org.eclipse.aether" slot="kie" services="import"/>
    <module name="org.eclipse.sisu" slot="main" services="import"/>
    <module name="org.sonatype.plexus" slot="main" services="import"/>
  </dependencies>
</module>
