<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    #if ($parent)
    <parent>
        <groupId>$parent.groupId</groupId>
        <artifactId>$parent.artifactId</artifactId>
        <version>$parent.version</version>
      </parent>
      #end

    <groupId>$groupId</groupId>
    <artifactId>$artifactId</artifactId>
    <name>$name</name>
    <version>$version</version>
    <packaging>$packaging</packaging>

    #if (!$properties.empty)
    <properties>
        #foreach ($mapEntry in $properties.entrySet())
            <$mapEntry.key>$mapEntry.value</$mapEntry.key>
        #end
    </properties>
    #end


    #if (!$dependencies.empty)
    <dependencies>
        #foreach($dependency in $dependencies)
        <dependency>
          <groupId>$dependency.groupId</groupId>
          <artifactId>$dependency.artifactId</artifactId>
          <version>$dependency.version</version>
          <type>$dependency.type</type>
          <scope>$dependency.scope</scope>
          <systemPath>${project.basedir}/src/main/resources/$dependency.systemPath</systemPath>
        </dependency>
        #end
      </dependencies>
    #end

    #if (!$modules.empty)
    <modules>
        #foreach($module in $modules)
            <module>$module</module>
        #end
    </modules>
    #end

</project>
