<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- %l lowers performance -->
      <!--<pattern>%d [%t] %-5p %l%n %m%n</pattern> -->
      <pattern>%d [%t|%C] %-5p %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.hibernate" level="off" />
  <logger name="org.hibernate.tool.hbm2ddl.DatabaseMetadata" level="off" />
  <logger name="bitronix.tm.twopc.Preparer" level="off" />

  <logger name="org.kie.remote.services" level="info" />

  <!-- see queries -->
  <logger name="org.jbpm.services.task.persistence" level="debug" />
  <logger name="org.jbpm.process.audit" level="debug" />

  <!-- test output -->
  <logger name="org.kie.remote.services.rest.query" level="info" />

  <root level="info">
    <appender-ref ref="consoleAppender" />
  </root>

</configuration>
