<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.kie.soup.commons" slot="main">

  <resources>
    <resource-root path="kie-soup-commons-${version.org.kie}.jar"/>
  </resources>

  <dependencies>
    <module name="com.thoughtworks.xstream" slot="main" services="import"/>
    <module name="javax.api" slot="main" services="import"/>
    <module name="javax.ejb.api" slot="main" services="import"/>
    <module name="org.slf4j" slot="main" services="import"/>
  </dependencies>
</module>
