<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.wildfly.extras.config.plugin.bpms">
  <resources>
    <resource-root path="kie-eap-config-${version.org.kie}.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="org.wildfly.extras.config"/>
    <module name="org.wildfly.extras.config.plugin.camel"/>
    <module name="org.jdom"/>
  </dependencies>
</module>
