<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>









   
   




   <!-- Extensions for the interactive debugger -->



   



   <!-- not used anymore
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
         class="org.drools.eclipse.launching.DroolsSourcePathComputerDelegate"
         id="org.drools.eclipse.launching.DroolsSourcePathComputerDelegate">
      </sourcePathComputer>
   </extension> -->


   <!-- not working if using multipage editor -->

   <!-- not working if using multipage editor -->



   


   <extension-point id="processExtension" name="Process Extension" schema="schema/processExtension.exsd"/>
   <extension-point id="runtimeRecognizer" name="Drools Runtime Recognizer" schema="schema/runtimeRecognizer.exsd"/>

   
   <!-- RuleBuilder Extensions -->


   
   <!-- tabbed properties
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor"
            labelProvider="org.drools.eclipse.flow.common.view.property.ProcessLabelProvider"
            typeMapper="org.drools.eclipse.flow.common.view.property.ProcessTypeMapper">
         <propertyCategory category="org.drools.eclipse.flow.general"/>
      </propertyContributor>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
         <propertyTab 
            category="org.drools.eclipse.flow.general"   
            id="org.drools.eclipse.flow.general"
            label="General"/>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.drools.eclipse.flow.ruleflow.editor.RuleFlowModelEditor">
         <propertySection
               class="org.drools.eclipse.flow.ruleflow.view.property.ElementNameSection"
               id="org.drools.eclipse.flow.ruleflow.view.property.ElementNameSection"
               tab="org.drools.eclipse.flow.general">
            <input type="org.drools.eclipse.flow.common.editor.core.ElementWrapper"/>
         </propertySection>
         <propertySection
               class="org.drools.eclipse.flow.ruleflow.view.property.ProcessNameSection"
               id="org.drools.eclipse.flow.ruleflow.view.property.ProcessNameSection"
               tab="org.drools.eclipse.flow.general">
            <input type="org.drools.eclipse.flow.common.editor.core.ProcessWrapper"/>
         </propertySection>
      </propertySections>
   </extension> --> 
   
</plugin>
