<kie-server-state>
  <controllers/>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.server.location</name>
        <value>http://localhost:0/rest/server</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.controller</name>
        <value></value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>SpringBoot</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.mode</name>
        <value>PRODUCTION</value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers/>
</kie-server-state>