<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>acmeFlight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>AcmeDemoInterface</display-name>
    <servlet-name>AcmeDemoInterface</servlet-name>
    <servlet-class>com.jboss.soap.service.acmedemo.impl.AcmeDemoInterfaceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcmeDemoInterface</servlet-name>
    <url-pattern>/AcmeDemoInterface</url-pattern>
  </servlet-mapping>
</web-app>