<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- %l lowers performance -->
      <!--<pattern>%d [%t] %-5p %l%n  %m%n</pattern>-->
      <pattern>%d [%C|%t] %-5p %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.kie" level="info"/>
  <!--  logger name="org.hibernate.engine.transaction" level="debug"/>-->
  <!-- logger name="org.jbpm.services.task.persistence" level="debug"/ -->

  <logger name="org.hibernate" level="warn"/>
  <!--  DebugProcessEventListener -->
  <logger name="org.drools.core.event" level="warn" />
  
  <root level="info">
    <appender-ref ref="consoleAppender"/>
  </root>

</configuration>

